{% extends "base/base.html.twig"%}
{% block body%}
<div class="main-title-block">
  {{main_title}}
</div>
<div class="about-container">
    <div class="bucklet usial-font">
      <div class="center">
          <h1><p><span>О компании EURUS</span></p></h1>
      </div>

      <p> Основным направлением деятельности компании EURUS является проектирование, установка и сервисное обслуживание систем автономного альтернативного энергоснабжения домов, дачных коттеджных поселков, офисных и административных зданий, отдельно стоящих промышленных и сельскохозяйственных объектов. Специалисты компании проводят полный комплекс работ — от мониторинга объекта и проектирования энергокомплекса, до монтажа и послегарантийного обслуживания оборудования.</p>
      <p>ООО "ЕУРУС"/EURUS Co Ltd. поставляет на российский рынок инновационное, энергосберегающее оборудование, не оказывающее вредного воздействия на окружающую среду и здоровье человека. Солнечные батареи по низким ценам, ветрогенераторы, солнечные коллекторы, контроллеры заряда, аккумуляторы, инверторы и энергосберегающие светодиодные светильники EURUS производятся по мировым стандартам качества и имеют соответствующие сертификаты (RoSH и СE).</p>
      <p>EURUS — это команда молодых инженеров, объединенных единой целью создания эффективных и экологически безопасных систем автономного энергоснабжения. Для достижения своей цели они используют только самое высокоэкологичное и энергоэффективное оборудование. Снижение или полный отказ от потребления сетевой электроэнергии либо сжигания топлива — главная задача инженеров EURUS.</p>
      <p><span>Приоритетом для нас является Ваша энергонезависимость!</span></p>
    </div>
    <div class="bucklet usial-font">
      <div class="center">
        <h1><p><span>У нас Вы можете приобрести солнечные батареи и не только!</span></p></h1>
      </div>

      <p>Мы предлагаем как отдельные виды оборудования, так и комплексные решения энергоснабжения, разработанные нашими инженерами. В нашем ассортименте Вы найдете весь спектр оборудования, ориентированного на решение проблем бесперебойного энергообеспечения или резервирования энергии:</p>
      <ul>
        <li>Фотоэлектрические солнечные батареи из монокристаллического кремния с самым высоким КПД!</li>
        <li>Свинцово-кислотные и гелевые аккумуляторы для ИБП и солнечной энергетики.</li>
        <li>Готовые комплекты солнечных батарей - солнечные электростанции! От одного модуля, до серьезной системы.</li>
        <li>Солнечные контроллеры заряда. Огромный ассортимент изделий - в наличии!</li>
        <li>Преобразователи напряжения от 300 до 18 000 Ватт с различным напряжением.</li>
        <li>Источники бесперебойного питания для котла или для дома.</li>
        <li>Разъемы, кабель, герметичные соединители МС4 и другие электрокомпоненты для коммутации.</li>
        <li>Устройства защиты для систем ИБП и фотоэлектрических установок.</li>
        <li>Стеллажи для хранения аккумуляторов и компактной установки источников бесперебойного питания (ИБП).</li>
      </ul>
      <p>Заказать расчет и проектирование индивидуального проекта совершенно бесплатно Вы можете обратившись к менеджерам нашей компании по телефонам +7 812 903 28 88 или +7 495 789 56 51, или оставив заявку через раздел обратная связь на нашем сайте.</p>
    </div>

</div>
{% endblock %}
