{% extends "base/base.html.twig" %}
{% block body%}
<div class="main-title-block">
{{main_title}}
</div>

<div class="contacts-container">

    <p><span>Где купить солнечные батареи и другую продукцию</span></p>
  <div class="bucklet usial-font">
    Купить солнечные батареи под маркой EURUS и другую продукцию, представленную на нашем сайте, вы можете в главном офисе компании, в Санкт-Петербурге, а также у нашего представителя в городе Москва или у официального дилера компании в городе Кириши.
Вы можете заказать солнечные батареи, аккумуляторы и комплектующие с доставкой в свой город через курьерскую службу или транспортную компанию.
  </div>
  <p><span>Главный офис EURUS в Санкт-Петербурге</span></p>
  <div class="bucklet usial-font adress">
    <p>+7(812) 903-28-88, 339-45-58</p>
    <p>info@helios-house.ru</p>
    <p>Режим работы:</p>
    <p>Пн-Чт.: с 8:30 - 18:00</p>
    <p>Пятница: 8:30 - 17:30</p>
    <p>Суббота: 11:00 - 16:00</p>
    <p> Воскресенье: выходной</p>
    <p>198095, Россия, Санкт-Петербург, ул. Маршала Говорова, д.47, офис 104 б</p>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.976164452416!2d30.287430615875582!3d59.89934538186188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963089f5033f3b%3A0x882332d3d013ed44!2sUlitsa%20Marshala%20Govorova%2C%2047%2C%20Sankt-Peterburg%2C%20198095!5e0!3m2!1sen!2sru!4v1582342239397!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
{% endblock %}
