{% extends "base/base.html.twig"%}
{%block body %}
<div class="main-title-block">
  {{main_title}}
</div>

<div class="delivery-container">
  <div class="logo-main usial-font">
    <p>Мы ценим время наших клиентов и готовы самостоятельно осуществить доставку купленного Вами оборудования. Доставка по Санкт-Петербургу осуществляется собственным транспортом. Доставка в регионы России, а также в Украину и Казахстан возможна через курьерские службы и транспортные компании.</p>
  </div>
  <div class="bucklet usial-font">
    <span> Самовывоз со склада в Санкт-Петербурге:</span>
    <p>Наш склад находится по адресу г. Санкт-Петербург, ул. Салова 45 литера Ж, и работает
      с понедельника по пятницу с 9:00 до 17:30, в субботу с 11:00 до 15:30. Склад имеет погрузочную зону, и оборудован для загрузки паллет. Отгрузка товаров со склада производится в любой удобный день, или по согласованию с менеджером.</p>
  </div>
  <p class="schema usial-font">Схема проезда на склад:</p>
  <img src="assets/img/simple_page/delivery/war.png" alt="">
  <p><span>Доставка по Санкт-Петербургу:</span></p>
  <div class="bucklet usial-font">
    <p>Мы доставим ветрогенераторы бесплатно по Санкт-Петербургу и Ленинградской области, если Вы поручили установку и монтаж нашим специалистам.
      Курьерская доставка по Санкт-Петербургу «до станции метро» грузов весом до 5кг
      и стоимостью свыше 30000 рублей осуществляется бесплатно.
      Бесплатно доставим груз весом до 1,5 тонн по Санкт-Петербургу при условии, что сумма Вашего заказа превышает 100000 рублей.
    </p>


    </div>
    <img src="assets/img/simple_page/delivery/map.png" alt="">
  <div class="bucklet usial-font">
    Для вашего удобства мы разделили Санкт-Петербург и ближайший пригород на 3 зоны, для каждой из которых определили стоимость доставки и сумму заказа, при которой доставка будет бесплатной:
    <div class="part-delivery usial-font">
      <span>Зона №1</span>Бесплатная доставка при заказе на сумму от 30000 рублей. Платная доставка 350 рублей.
    </div>
    <div class="part-delivery usial-font">
      <span>Зона №2</span>Бесплатная доставка при заказе на сумму от 35000 рублей. Платная доставка 500 рублей.
    </div>
    <div class="part-delivery usial-font">
      <span>Зона №3</span>Бесплатная доставка при заказе на сумму от 50000 рублей. Платная доставка 700 рублей.
      <div class="part-delivery usial-font">
        Доставка товара за КАД и по Ленинградской области обсуждается индивидуально,
        и зависит от веса, суммы заказа и удаленности объекта.
        Обратите внимание, что мы не доставляем заказы на сумму менее 2000 рублей! Небольшие заказы можно забрать самовывозом с нашего склада.
        Доставка не включает погрузочно-разгрузочные работы.
      </div>
    </div>
  </div>
  <div class="bucklet usial-font">
      <div class="by-russia-title usial-font">
        <p>Доставка по России:</p>
        <div class="delivery-by-russia usial-font">

          <p><span>Транспортные компании.</span> Мы с удовольствием доставим и сдадим Ваш груз в транспортную компанию. Доставка до терминала транспортной компании в городе Санкт-Петербурге осуществляется нашим транспортом и ничего для Вас не стоит, если это Деловые Линии. При отправке через транспортные компании, грузы, содержащие ветрогенераторы, источники бесперебойного питания и аккумуляторы, упаковываются в деревянные коробки (паллетный борт) по умолчанию. Стоимость межтерминальной доставки оплачивается получателем, если иное не было обговорено предварительно.</p>
          <p><span>Курьерские службы.</span>Мы отправим не очень тяжелые и срочные грузы курьерскими экспресс службами СДЭК, Курьер-Сервис, Пони-Экспресс или DHL. Выбор курьерской службы, заказ курьера и оплата экспресс-отправлений производится покупателем.</p>
          <p><span>Почта России.</span> Грузы весом до 3кг могут быть отправлены в ваш адрес простой бандеролью или ценным отправлением Почтой России, в том числе наложенным платежом.</p>
          <p>Выбор способа доставки и транспортной компании всегда остается за покупателем.
Подробности о доставке наших товаров по городу и в различные регионы России уточняйте у менеджеров нашей компании по телефону +7 (812) 114-31-11.</p>
        </div>
      </div>
  </div>
</div>
{%endblock %}
