        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
                {% block body %}
        <div class="main-pic">
          <img src="assets/img/main/main_place_view.png" alt="">
        </div>

        <h1>
          Популярное
        </h1>
                <div class="good_cart">


                </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
