        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
                {% block body %}
        <div class="main-pic">
          <div class="left-side-main-pic">

              <p class="main-title-text">Сохраняем энергию, деньги и планету</p>
              <form class="look_catalog" action="{{ path('catalog') }}">
                <button type="submit">Посмотреть каталог</button>
              </form>

          </div>
        </div>


        <p>
          Популярное
        </p>
                <div class="good_cart">


                </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
