        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
                {% block body %}
        <h1>
          Популярное
        </h1>
                <div class="good_cart">


                </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
