<div class="main-pic">
  <div class="left-side-main-pic">
      <p class="main-title-text">Сохраняем энергию, деньги и планету</p>
      <form class="look_catalog" action="{{ path('catalog') }}">
        <div class="check-catalog">
            <input type="submit" name="" value="Посмотреть каталог">
        </div>
      </form>
  </div>
</div>
