        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
        {% block reklama%}
        <div class="main-pic">
          <div class="left-side-main-pic">

              <p class="main-title-text">Сохраняем энергию, деньги и планету</p>
              <form class="look_catalog" action="{{ path('catalog') }}">
                <div class="check-catalog">
                    <input type="submit" name="" value="Посмотреть каталог">
                </div>
              </form>

          </div>
        </div>
        {% endblock %}
        {% block main_title %}
        <p сlass="main-title-block">{{main_title}}</p>
        {% endblock %}
        {% block body %}
        <div class="generators">
            {% for generator in generators%}
          <div class="generator-for-sale">
           {% include '/catalog/service.html.twig' %}

          </div>
            {% endfor %}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
