        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
                {% block body %}
        <h1>
          Популярное
        </h1>
                {% for generator in generators%}
                <div class="good_cart">
                  <p>{{generator.generatorName}}</p>
                  <p>{{generator.power}}</p>
                  <p>{{generator.voltage}}</p>
                  <p>{{generator.type}}</p>
                  
                </div>
                  {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
