        {% extends "base/base.html.twig"%}

        {% block title %}Welcome!{% endblock %}
        {% block reklama%}
        {% include '/main/main_title.html.twig' %}
        {% endblock %}
        {% block main_title %}
        <p сlass="main-title-block">{{main_title}}</p>
        {% endblock %}
        {% block body %}
        <div class="generators">
          {% for generator in generators%}
              <div class="generator-for-sale">
                  {% include '/catalog/generator.html.twig' %}
              </div>
            {% endfor %}
            <div class="all-in-catalog">
              <a href="{{ path('catalog')}}">Весь каталог</a>
            </div>
        </div>

        {% endblock %}
        {% block javascripts %}{% endblock %}
