

<div class="main-container">
  <ul>
      <li><a href="#">Заказы</a></li>
      <li><a href="#">Аксесуары</a></li>
      <li><a href="#">Одежда</a></li>
      <li><a href="#">Цветы </a></li>
      <li><a href="#">Флористика</a></li>
  </ul>
</div>
