<!DOCTYPE html>

<title>add generator!</title>

{% block body %}
<form class="" action="" method="post">
  <ul>
    <li>
  		<label>  название
        <input type="text" name="name" value="">
      </label>
    </li>
    <li>voltage
      <label for="">
        <input type="text" name="voltage" value="">
      </label>
    </li>
    <li>
      <label for="">
        <input type="text" name="power" value="">
      </label>
    </li>
    <li>
      <label for="">
        <input type="text" name="type" value="">
      </label>
    </li>
    <li>
      <label for="">
        <input type="text" name="discription" value="">
      </label>
    </li>
  </ul>
</form>



{% endblock %}
