*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
.main-container{
  display: flex;
  flex-direction: column;

}
.upper-section{
}
.above-header{

  /* display: flex; */
}
.above-container{
  /* background-color: red; */
  margin: 44px 60px 0px 60px;
  display: flex;
}

/* ============================================================= */
                          /* HEADER */

/* left side logo with-EURUS */
.above-header-left-side{
  width: 50%;
  display: flex;
  justify-content: center;
}
.main-logo-left{
  width: 50%;
  text-align: center;
  margin: 20px;

}
.upper-logo a{
  padding-bottom: 20px;
}
.bottom-logo {
}
.main-logo-right{
  width: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #3A3939;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.main-logo-place{
  margin: 5px;
}
.main-logo-telephone{
  margin: 5px;
}

/* RIGHT SIDE LOGO WITHOUT EURUS */


.above-header-right-side{
  display: flex;
  width: 50%;
}
.left-half-header-logos{
  width: 50%;
}
.right-half-header-logos{
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.right-half-header-logos a{

  padding: 15px;
}




        /* main header settings */
.header{
    background-color:#7BA39B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 70px;
}
.header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    font-family: 'Montserrat', sans-serif;

    line-height: 25px;
  }
  .header a:hover {
    background-color: #E4F0ED;
    color: black;
    transition: all .2s ease-in-out 0s;
    border-bottom: none;
    border-radius: 0px;
  }
    .header a.active {
    /* color: white; */


  }
  .main-nav ul {
    /* margin: 1em 0 .5em; */
    text-align: center;
  }
  .main-nav li {
    display: inline;
  }
  .main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
  }




/* ================================================================== */
                      /* FOOTER */
                      /* main settings */
.bottom-section{
  background-color:#3A3939;
  height: 200px;
  color: #FFFFFF;
}
.footer-container{
  margin: 12px 75px 12px 75px;
  height: inherit;
  display: flex;
}
.left-side-footer{
  width: 50%;
}
.right-side-footer{
  width: 50%;

}

/* =================================================================== */
                      /* LEFT-SIDE-FOOTER */

.left-side-footer{
  display: flex;
  width: 25%;

}
.left-side-left-half-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-side-footer-contacts{
  display: block ruby;
  color:#FFFFFF;
}
/* ================================================================== */
                        /* CENTER-SIDE_FOOTER */

.center-side-footer{
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 35px 10px 90px 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: -0.05em;

}
.center-side-footer a{
  padding: 1px 1px 3px 5px;
  color:#FFFFFF;
}


 /* ====================================================================== */
                        /* RIGHT-SIDE_FOOTER */
.right-side-footer{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.social{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 131%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.social-link{
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.social-link a{
  background:url("/assets/img/base/social-icons.png") transparent no-repeat;;
  width: 26px;
  height: 26px;
}
.facebook a{
  background-position: -10px;
}
.twitter {
  background-position: -40px;
}
.youtube {
  background-position: -40px;
}
.instagram {
  background-position: -40px;
}


.space-social{
 padding: 10px;

}
