.cart-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-in-cart{
  display: flex;
  flex-direction: row;
  height: 140px;
  width: 100%;
  margin: 5px;
}
.item-image img{
  height: 100px;
  width: 140px;
}
.item-image{
  height: inherit;
}

.item-quan{
  display: flex;
  width: 15%;

}
.plus-munis-quan{
  display: flex;
  flex-direction: row;
  width: 20%;
}
.item-title{
  width: 25%;
}
.item-article{
  width: 20%;
}
.item-weight{
  width: 15%;
}
.item-price{
  width: 10%;
}
.upper-title,
.title-cart {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 43px;

  /* or 269% */
  letter-spacing: -0.025em;
  text-transform: uppercase;

  /* black light */
  color: #3A3939;
}
.title-cart{
  text-transform: none;
}

.for-cart-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-prices{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 95%;
  margin: 25px 0px 0px 0px;
}
.title-itog{
  font-size: 20px;
  font-weight: 600;

}
.all-weights{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 95%;
  font-size: 10px;

}
.empty-cart{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-cart{
  height: 500px;
  background:blue;
  flex-direction: row;
  display: flex;

}
.left-side-form{
  width: 50%;
  background-color:
  yellow;
  height: 100%;
}
.rigth-side-form{
  width: 50%;
  background-color:
      red;
      height: 100%;
  }
