.cart-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-in-cart{
  display: flex;
  flex-direction: row;
  height: 140px;
  width: 100%;
  margin: 5px;
}
.item-image img{
  height: 100px;
  width: 140px;
}
.item-image{
  height: inherit;
}

.item-quan{
  display: flex;
  width: 15%;

}
.plus-munis-quan{
  display: flex;
  flex-direction: row;
  width: 20%;
}
.item-title{
  width: 25%;
}
.item-article{
  width: 20%;
}
.item-weight{
  width: 15%;
}
.item-price{
  width: 10%;
}
.upper-title,
.title-cart {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 43px;

  /* or 269% */
  letter-spacing: -0.025em;
  text-transform: uppercase;

  /* black light */
  color: #3A3939;
}
.title-cart{
  text-transform: none;
}

.for-cart-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-prices{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 95%;
  margin: 25px 0px 0px 0px;
}
.title-itog{
  font-size: 20px;
  font-weight: 600;

}
.all-weights{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 95%;
  font-size: 10px;

}
.empty-cart{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-cart{
  height: 780px;

flex-direction: column;
display: flex;
justify-content: center;
}


.left-side-form{
  width: 100%;

  height: 95%;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-top: 35px;
  }
.rigth-side-form{
  width: 50%;

  height: 70%;
  margin: 35px 75px 0 98px;
  background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
  }
form.right-side-buy{
    display: flex;
  }

.part-title,
.choice
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;

/* identical to box height, or 187% */
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.part-title{
margin-bottom: 20px;
font-size: 16px;
}
.text-choice p{
  font-weight: 300;
  line-height: 28px;
  text-transform: none;
  color: #3A3939;
  margin: 10px;
}
.ahtung{
font-family: Montserrat;
font-style: normal;
font-weight: 675;
font-size: 11px;
line-height: 28px;
letter-spacing: -0.025em;
color: #3A3939;
margin: 10px;
}
#contactChoice{
   margin: 0 10px 0 10px;
}
.input-containers{

  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-customer, .comment-customer{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;

  /* identical to box height, or 231% */
  letter-spacing: -0.025em;
  text-transform: uppercase;

  /* black light */
  color: #3A3939;
}
button.buy{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.025em;
  background:
  #CE4F4F;
  color:
  #FFFFFF;
  border: none;
  width: 200px;
  height: 40px;
}
.buy-push{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.
