.back-generator{
  width: 50%;
  height: 300px;
  display: flex;
  align-items: end;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color:
  #3A3939;
}
.bottom-gen{

  margin-bottom: 50px;
}
.middle-gen{

}
.top-gen{
  display: flex;
}
.more-about-generator{

display: flex;
flex-direction: column;
}
.additional-info{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: self-start;
}

.parametr{
  display: flex;
}
.parametr-name{
  margin: 0px 20px;
}
.space-beetween{
  margin-left: 50px;
}
input.about-generator{
  border: none;
  background: inherit;
}

.additional-info p{
  /*margin-left: 50px;*/
}
.
