
/* file discribe styles for services and generators */
.back-service,
.back-generator{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: end;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color:
  #3A3939;
}
.back-service{
    display: flex;
    align-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  font-family: Montserrat;
font-style: inherit;
font-weight: 588;
line-height: 26px;
text-transform: uppercase;
color:
#3A3939;
font-size: 16px;
}

.bottom-gen{

  margin-bottom: 50px;
}
.middle-gen{

}
.top-gen{
  display: flex;
}

.additional-info{
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  margin-top: 25px;
  margin-bottom: 60px;
}

.parametr{
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  /* black light */
  color: #3A3939;
}
.parametr-name{
  margin: 0px 20px;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-transform: none;

/* identical to box height */

/* black light */
color: #3A3939;
}
.space-beetween{
  margin-left: 50px;
}
input.about-generator{
  border: none;
  background: inherit;
}

.additional-info p{
  /*margin-left: 50px;*/
}
p.current_buy{
  height: 50%;
  text-align: center;
}
