
<form class="more-about-news" action="news/id={{news.id}}" method="GET">
  <div class="back-news back-service">
    <p class="current_news current-service" >{{news.title}}</p>
    <img class="service-logo" src="assets/img/service/briefing.png" alt="">
  </div>
  <button type="submit" class="button-info-about-services">
      Читать далее ..
  </button>
</form>
