    {% extends "base/base.html.twig"%}
    {% block title %}{{title}}{% endblock %}
                {% block body %}
                <div class="catalog">
                  <div class="generators">
                    <div class="name-categotegory">
                      <p> Генераторы Доступно: {{generators|length}}</p>
                    </div>
                    {% for generator in generators%}
                    {% include '/catalog/generator.html.twig' %}
                    {% endfor %}
                  </div>
                  <div class="service">
                    <div class="name-categotegory">
                      <p>Сервисы Доступно: {{services|length}}</p>
                    </div>
                    {% for service in services%}
                      {% include '/catalog/service.html.twig' %}
                    {% endfor %}
                  </div>
                </div>
                {% endblock %}
