    {% extends "base/base.html.twig"%}
    {% block title %}{{title}}{% endblock %}
                {% block body %}
                <div class="catalog ">
                <div class="name-categotegory title-catalog main-title-block ">
                 <p> Генераторы Доступно: {{generators|length}}</p>
                </div>
                  <div class="generators">
                    {% for generator in generators%}
                    {% include '/catalog/generator.html.twig' %}
                    {% endfor %}
                  </div>
                  <div class="name-categotegory title-catalog main-title-block ">
                    <p>Сервисы Доступно: {{services|length}}</p>
                  </div>
                  <div class="service">
                    {% for service in services%}
                      {% include '/catalog/service.html.twig' %}
                    {% endfor %}
                  </div>
                </div>
                {% endblock %}
