

<form class="more-about-service" action="/catalog/service/{{service.id}}" method="post">
  <div class="back-generator" style="background: url({{service.image}});">
        <p class="current_buy" >{{service.title}}</p>
        <p> {{service.price}}</p>
      </div>
      <button type="submit" name="button-info-about-generator">
        узнать подробнее
      </button>
</form>
