

<form class="more-about-service" action="/services/{{service.id}}" method="post">
  <div class="back-service">
    <p class="current_buy" >{{service.title}}</p>
    <img class="service-logo" src="assets/img/service/mechanic.png" alt="">
  </div>
  <button type="submit" class="button-info-about-services">
      узнать подробнее
  </button>
</form>
